adf-career-copilot/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-career-copilot"
		},
		"ls_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls'"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stcareercc.dfs.core.windows.net/"
		},
		"trg_landing_blob_created_properties_pl_landing_to_bronze_parameters_fileUrl": {
			"type": "string",
			"defaultValue": "@triggerBody().data.url"
		},
		"trg_landing_blob_created_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/7dde6a16-56b7-452e-b264-eff27a033c50/resourceGroups/rg-career-copilot/providers/Microsoft.Storage/storageAccounts/stcareercc"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_landing_to_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set path",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "path",
							"value": {
								"value": "@replace(replace(pipeline().parameters.fileUrl, '\\r', ''), '\\n', '')\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "fileName",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "fileName",
							"value": {
								"value": "@last(split(variables('path'), '/'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set subfolder",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "fileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "subfolder",
							"value": {
								"value": "@first(split(variables('path'), '/'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set destPath",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set subfolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "destPath",
							"value": {
								"value": "@replace(replace(trim(concat(variables('subfolder'), '/', variables('fileName'))), '\\n', ''), '\\r', '')\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_landing_bronze",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set destPath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_binary_adls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "landing",
									"p_path": "@last(split(pipeline().parameters.fileUrl, '/'))"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_binary_adls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "bronze",
									"p_path": {
										"value": "@variables('destPath')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"fileUrl": {
						"type": "string"
					}
				},
				"variables": {
					"path": {
						"type": "String"
					},
					"fileName": {
						"type": "String"
					},
					"subfolder": {
						"type": "String"
					},
					"destPath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_binary_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_binary_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{last(split(dataset().p_path, '/'))}\n",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{if(contains(dataset().p_path, '/'), substring(dataset().p_path, 0, lastIndexOf(dataset().p_path, '/')), '')}\n",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_landing_blob_created')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_landing_to_bronze",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileUrl": "[parameters('trg_landing_blob_created_properties_pl_landing_to_bronze_parameters_fileUrl')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/landing/blobs/",
					"blobPathEndsWith": ".json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trg_landing_blob_created_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_landing_to_bronze')]"
			]
		}
	]
}