adf/pipeline/pl_landing_to_bronze.json
{
	"name": "pl_landing_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "Set path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "path",
					"value": {
						"value": "@replace(replace(pipeline().parameters.fileUrl, '\\r', ''), '\\n', '')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "fileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@last(split(variables('path'), '/'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set subfolder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "fileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "subfolder",
					"value": {
						"value": "@first(split(variables('path'), '/'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set destPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set subfolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "destPath",
					"value": {
						"value": "@replace(replace(trim(concat(variables('subfolder'), '/', variables('fileName'))), '\\n', ''), '\\r', '')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_landing_bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set destPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_binary_adls",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "landing",
							"p_path": "@replace(   replace(     last(split(pipeline().parameters.fileUrl, '/')),     '/',     ''   ),   ' ',   '' )"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_binary_adls",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_path": {
								"value": "@variables('destPath')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"fileUrl": {
				"type": "string"
			}
		},
		"variables": {
			"path": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			},
			"subfolder": {
				"type": "String"
			},
			"destPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}